body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #EFE1D1, #DDB892, #A98467);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 850px;
}

h1 {
  color: #5c4033;
  font-weight: bold;
}

.card {
  border-radius: 15px;
}

.btn-primary {
  background-color: #8b5e3c;
  border: none;
}

.btn-primary:hover {
  background-color: #6f4a2d;
}

.btn-warning {
  color: white;
}

input:focus {
  border-color: #8b5e3c !important;
  box-shadow: 0 0 8px rgba(139, 94, 60, 0.3) !important;
}
.form-control{
    height:55px;
    border-radius:12px;
    transition:0.3s;
}

.form-control:focus{
    transform:scale(1.02);
}

.btn-primary{
    height:55px;
    border-radius:12px;
    font-weight:bold;
    font-size:18px;
}